<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

  <listeners>	
		<listener class-name="resources.ExtentReporterNG"/>
	</listeners>
	
  <test thread-count="5" name="Validate User List Table">
    <classes>
      <class name="CIB_DIGITAL_TECH.ValidateUserListTableTest"/>
    </classes>
  </test> 
	
  <test thread-count="5" name="Test User List Table">
    <classes>
      <class name="CIB_DIGITAL_TECH.UserListTableWebTest"/>
    </classes>
  </test> 
  
  
  
</suite> <!-- Suite -->
